.container{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
}
/* overlay-1 part start here */
.bottom_overlay-1{
    position:relative;
    overflow:hidden;
    width:440px;
}
.bottom_overlay-1 img{
    max-width:100%;
    height:auto;
}
.overlay-1{
    width:440px;
    background-color:rgba(0, 255, 255, 0.377);
    height:100%;
    position:absolute;
    bottom:100%;
    right:0;
    left:0;
    transition:bottom .4s linear;
}
h6{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
}
.bottom_overlay-1:hover .overlay-1{
    bottom:0;
    cursor:pointer;
}
/* overlay-1 part end here */


/* overlay-2 part start here */
.bottom_overlay-2{
    position:relative;
    overflow:hidden;
    width:440px;
}
.bottom_overlay- img{
    max-width:100%;
    height:auto;
}
.overlay-2{
    width:440px;
    background-color:rgba(0, 255, 255, 0.377);
    height:100%;
    position:absolute;
    top:100%;
    right:0;
    left:0;
    transition:top .4s linear;
}
h6{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
}
.bottom_overlay-2:hover .overlay-2{
    top:0;
    cursor:pointer;
}
/* overlay-2 part end here */



/* overlay-3 part start here */
.bottom_overlay-3{
    position:relative;
    overflow:hidden;
    width:440px;
}
.bottom_overlay- img{
    max-width:100%;
    height:auto;
}
.overlay-3{
    width:440px;
    background-color:rgba(0, 255, 255, 0.377);
    height:100%;
    position:absolute;
    bottom:0;
    right:100%;
    top:0;
    transition:right .4s linear;
}
h6{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
}
.bottom_overlay-3:hover .overlay-3{
    right:0;
    cursor:pointer;
}
/* overlay-3 part end here */



/* overlay-4 part start here */
.bottom_overlay-4{
    position:relative;
    overflow:hidden;
    width:440px;
}
.bottom_overlay-4 img{
    max-width:100%;
    height:auto;
}
.overlay-4{
    width:440px;
    background-color:rgba(0, 255, 255, 0.377);
    height:100%;
    position:absolute;
    bottom:0;
    left:100%;
    top:0;
    transition:left .4s linear;
}
h6{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
}
.bottom_overlay-4:hover .overlay-4{
    left:0;
    cursor:pointer;
}
/* overlay-4 part end here */


/* overlay-5 part start here */

.bottom_overlay-5 img{
    filter:saturate(0);
    transition:all .2s linear;
}
.bottom_overlay-5:hover img{
    filter:saturate(1);
    cursor: pointer;
}


/* overlay-5 part end here */


/* overlay-6 part start here */

.bottom_overlay-6{
    position:relative;
    overflow:hidden;
    width:440px;
}
.bottom_overlay-6 img{
    max-width:100%;
    height:auto;
}
.overlay-6{
    width:440px;
    background-color:rgba(128, 128, 128, 0.37);
    height:100%;
    position:absolute;
    top:100%;
    right:0;
    left:0;
    transition:top .4s linear;
}
h6{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
}
.bottom_overlay-6:hover .overlay-6{
    top:85%;
    cursor:pointer;
}

/* overlay-6 part end here */
/* icon part start here */
.icon{
    width: 28px;
    height: 28px;
    display: block;
    overflow: hidden;
    background-color: #e71b24;
    border-radius: 100%;
    display: grid;
    text-decoration: none;
    padding: 6px;
    color: white;
    float: left;
    margin: 3px;
    transition: 0.3s;
}
.social-icon a:first-child
{
    background-color: #3b5998;
    transition: .80s;
    opacity: 0;
}
.social-icon a:nth-child(2)
{
    background-color: #00acee;
    transition: .60s;
    opacity: 0;
}

.social-icon a:nth-child(3)
{
    background-color:  #db4a39;
    transition: .40s;
    opacity: 0;
}

.social-icon a:last-child
{
    background-color: #0072b1;
    transition: .20s;
    opacity: 0;
}
.social-icon a:hover
{
    background-color: black;
    color:white;
    opacity:1;
}
.social-icon{
    text-align:center;
    place-items: center;
}
/* icon part end here */